    $moneyBg:#61961c;
    $main: #7dbf29;
    $hover:#7dcf29;
    $focusedBorder: #94b5de;
    $textWhite:#ffffff;
    $navDownBg:#f6f6f6;
    $textGray:#a0a6a6;
    $textDarkGray:#2c2e29;
    $borderGray: #a0a6a6;
    $lightBorderGray: #E0DCDA;
    $white: #ffffff;
    $white20: #ffffff33;
    $containerBg:#eef4f6;
    $langBg:#d0ac55;
    $starFilled:#ffd95f;
    $borderWhite:#ffffff;
    $accountBg:#8682ab;
    $middleNavBg:#e6e7e9;
    $darkGreen: #228e12;
    $darkGreenHover: #1d750f;
    $cartBg:#7dbf2a;
    $green:#7dbf29;
    $greenHover: #7dcf29;
    $greenHoverOpacity50: #7dbf2a50; 
    $greenHoverOpacity30: #7dbf2a30; 
    $black:#000000;
    $black30: #0000004D;
    $black50: #00000080;
    $lightGreen:#eaf4ee;
    $textBlack:#3d332d;
    $red:#eb3f49;
    $border:#d3d3d3;
    $basket:#96d0cd;
    $basketHover:#a9ddda;
    $headingBg:#1f62bb;
    

    $transition: 0.4s ease-in-out;

    //* checkout color 
    $checkoutBackground: #f4f4f4;
    $inputBg: #f4f4f4;
    $selected:#7dbf29;
    $selectedHover:#7dcf29
