@import "../../values/colors.module.scss";

.container {
  background: $white;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  height: 300px;
  width: calc((100% / 2) - (12px / 2));
  border: .5px solid $textGray;
  transition: $transition;

  &:hover {
    // box-shadow: 0px 0px 6px 6px rgb(0 0 0 / 20%);
  }

  .cardTop {
      position: relative;
      flex: 2;
      width: 100%;
      max-height: 60%;
      cursor: pointer;

      .modalButton {
          width: 100%;
          height: 100%;
          border: transparent;
          background-color: transparent;
          text-decoration: none;

          &:hover {
            color: $textBlack;
          }
      }

      .favoriteButton {
          position: absolute;
          top: 8px;
          right: 8px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: transparent;
          color: $red;
          border: 1px solid red;
          cursor: pointer;
          z-index: 11;
          svg {
            width: 100%;
            transform: rotate(25deg);
          }
          &:hover {
              // color: $black30;
              svg {
                fill: $red;
              }
          }
      }

      span > img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }

      .overLay {
          opacity: 0;
          transition: $transition;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;

          &:hover {
              opacity: 1;

              visibility: visible;
              background-color: $black30;
          }

          .zoomIcon {
              font-size: 38px;
              color: $white;
          }
      }

      .stickerContainer {
          max-width: 80%;
          position: absolute;
          flex-direction: column;
          gap: 4px;
          display: flex;
          left: 8px;
          top: 10px;
          z-index: 1;
          backface-visibility: visible;
          pointer-events: none;

          .discountSticker {
              background-color: $red;
              font-size: 12px;
              font-weight: 500;
              text-align: center;
              z-index: 2;
              padding: 1px 8px;
              color: $white;
              border-radius: 4px;
              width: fit-content;
          }

          .label {
              font-size: 10px;
              padding: 1px 8px;
              color: $white;
              border-radius: 4px;
              border-radius: 4px;
              width: fit-content;
              padding: 4px;
          }
      }
      .delivery {
        display: flex;
        gap: 6px;
        background: $white;
        border: 1px solid $border;
        padding: 4px 6px;
        border-radius: 10px;
        position: absolute;
        bottom: 8px;
        left: 8px;
        z-index: 100;
        .days {
          font-size: 8px;
          font-weight: 200;
          color: $black;
        }
      }
  }

  .cardBottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 8px;
    justify-content: space-between;
    max-height: 40%;

    .productName {
      font-size: 13px;
      font-family: 'Asap', sans-serif;
      font-weight: 500;
    }
    .productSub {
      color: $textGray;
      margin-top: 6px;
      font-size: 11px;
      font-weight: 300;
      line-height: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      .vendorName {
        margin-left: 5px;
        color: $textGray;
      }
    }

    .priceAndAddToCard {
      position: relative;
      .priceContainer {
        position: relative;

        .oldPriceContainer {

          .oldPriceImage {
            filter: invert(57%) sepia(0%) saturate(58%) hue-rotate(283deg) brightness(89%) contrast(93%);
          }

          .oldPrice {
            margin-right: 4px;
            text-decoration: line-through;
            color: $textGray;
            font-size: 12px;
          }
        }


        .price {
          color: $red;
          font-size: 14px;
          margin-right: 4px;
        }

        .currentPriceImage {
          filter: invert(29%) sepia(73%) saturate(3690%) hue-rotate(340deg) brightness(103%) contrast(84%);
        }

        .slash {
          color: $textGray;
          font-size: 12px;
        }

        .attribute {
          font-size: 12px;
          color: $textGray;
        }

        .starsContainer {
          margin-top: 4px;

          .starFilled {
            font-size: 18px;
            color: $starFilled;
            // filter: drop-shadow(1px 1px 1px rgba(19, 19, 19, 0.2));
          }

          .starOutline {
            font-size: 18px;
            color: $starFilled;
            // filter: drop-shadow(1px 1px 1px rgba(19, 19, 19, 0.2));
          }
        }
      }
      .cartButton {
        position: absolute;
        border: none;
        background-color: $green;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: white;
        bottom: 6px;
        right: 0;
        transition: $transition;
        cursor: pointer;
      
        .cartIcon {
          font-size: 20px;
        }
      
        &:hover {
          background-color: $hover;
          color: white;
      
      
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .container {
    height: 350px;
    width: calc((100% / 3) - (12px * 2 / 3));
    border: none;
    border-radius: 16px;
    .cardTop {
      .favoriteButton {
        width: 48px;
        height: 48px;
      }

      .delivery {
        gap: 8px;
        padding: 6px 8px;
        border-radius: 12px;
        bottom: 12px;
        left: 12px;
        .days {
          font-size: 10px;
        }
      }
    }
    .cardBottom {
      padding: 10px 15px;
      .productName {
        font-size: 18px;
        font-weight: 600;
      }
      .productSub {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        .vendorName {
          margin-left: 7px;
        }
      }

      .priceAndAddToCard {
        .priceContainer {
          .price {
            font-size: 20px;
            line-height: 26px;
          }
          .slash {
            font-size: 20px;
          }

          .oldPriceContainer {
            .oldPrice {
              font-size: 16px;
              line-height: 24px;
            }
          }

          .starsContainer {
            .starFilled {
              font-size: 24px;
            }

            .starOutline {
              font-size: 24px;
            }
          }
        }
        .cartButton {
           position: absolute;
           border: none;
           background-color: $green;
           width: 48px;
           height: 48px;
           border-radius: 50%;
           color: white;
           bottom: 6px;
           right: 0;
           transition: $transition;
           cursor: pointer;
        
           &:hover {
             background-color: $hover;
             color: white;
        
           }
        
           .cartIcon {
             font-size: 28px;
           }
         }
      }

    }
    

    .attribute {
      font-size: 14px;
      color: $textGray;
    }
    .stickerContainer {

    }
  }
}

@media screen and (min-width: 1001px) {
  .container {
    height: 400px;
    width: calc((100% / 4) - (16px * 3 / 4));
  }
}