@import '../../values/colors.module.scss';


.button { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    white-space: nowrap;
    padding: 14px;
    background-color: $white;
    font-weight: 400;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid $border;
    color: $textBlack;
    transition: $transition;
    cursor: pointer;

    &:hover {
            background-color: $hover;
                color: $white;
                border: 1px solid $white;
    }

    
}

.selectedButton { 
    background-color: $main;
        color: $white;
        border: 1px solid $white;

}