@import "../../values/colors.module.scss";

.container {
  border-radius: 8px;
  position: relative;
  height: 100%;
  transition: $transition;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 6px 6px rgb(0 0 0 / 20%);
  }

  &_border {
    border: 1px solid #ff7a2c;
  }

  .button {
    position: absolute;
    width: 100%;
    height: 100%;
    border: transparent;
    background: transparent;
    cursor: pointer;
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px 16px;
    position: absolute;
    left: 0;

    .questionParagraph {
      max-width: 200px;
    }
  }

  p {
    font-size: 14px;
    font-family: 'Asap', sans-serif;
    color: rgb(0 0 0 /70%);
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  .questionParagraph {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
  }

}

@media screen and (max-width: 800px) {
  .container {
    .question {
      left: -10px;

      p {
        max-width: max-content !important;
        border-radius: 20px;
      }
    }

    .questionParagraph {
      font-size: 16px;
    }
  }
}

.modal_question {
  // background: transparent;
  width: 100%;
  padding: 32px;
  // border-radius: 20px;
  display: flex;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;

  .questionParagraph {
    margin-top: 10px;
    margin-left: 5px;
  }

}

.modal_answer {
  height: 100%;
  overflow-y: auto;
  margin-top: 10px !important;
  // margin-left:10px!important;
  padding: 32px;
  background: #fff;
  border-radius: 0px 0px 8px 8px !important;
}

.mainContainer {
  width: 522px !important;
}

@media screen and (max-width: 576px) {
  .modal_container {
    height: 100%;
  }

  .mainContainer {
    padding: 15px !important;
    width: 100% !important;
    height: 100vh !important;
  }
}