@import '../values/colors.module.scss';

.pageHeader {
    padding: 12px 0;
    .pageTitle {

        font-size: 40px;
        color: $textBlack;
        margin: 10px 16px;
    }

    .overFlowContainer {
        padding: 0 16px;
        overflow: scroll;

        .subCategoriesContainer {
            display: flex;
            gap: 10px;
            padding-bottom: 16px;

        }

        .filterContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            margin-bottom: 16px;

            .text {
                font-size: 14px;
                color: $textGray;
            }
        }

    }
}



@media screen and (min-width:650px) {

    .pageHeader {

        .pageTitle {
            margin: 10px 0px;
        }

        .overFlowContainer {
            padding: 0 0px;
            overflow: scroll;

            .subCategoriesContainer {
                flex-wrap: wrap;
            }
        }
    }

}