@import '../../values/colors.module.scss';

.subTitle {
  font-size: 24px;
  margin: 0 16px;
  font-weight: 600;
  color: $textBlack;
  margin-bottom: 20px;
}

.container {
  position: relative;
  // background: $white;
  justify-content: flex-start;
  // border-radius: 20px;
  margin: 0 8px;
  display: flex;
  row-gap: 12px;
  column-gap: 12px;
  padding: 12px 0;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 18px;
  min-height: 90%;

  &.clearContainer {
    padding: 0px !important;
    background: transparent;
    border-radius: 0!important;
  }

  .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }


  .loadMoreContainer {
    // z-index: 1;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    .button {

      height: 30px;
      width: 100px;
      white-space: nowrap;
      background-color: $white;
      font-weight: 400;
      font-size: 14px;
      border-radius: 30px;
      border: 1px solid $border;
      color: $textBlack;
      transition: 0.5s all;
      cursor: pointer;


      &:hover {
        background-color: $hover;
        color: $white;
        border: 1px solid $white;
      }
    }
  }


}

@media screen and (min-width:1001px) {

  .subTitle {
    margin: 0px 0px 20px;
  }

  .container {
    margin: 0px;
    row-gap: 16px;
    column-gap: 16px;
    background: $containerBg;
    padding: 16px;

    .header {
      font-size: 40px;
    }
  }

}

@media screen and (max-width: 960px) {
  .container {
    padding: 16px 0;
  }
}